.container{
    margin-top: 15%;
    width: 30%;
}
body{
    
    background-image: url("/assets/imgs/1344394.png")
}

.card{
    background-color: rgb(73, 146, 241);
    padding: 20px;
    box-shadow: 0px 5px 10px #0000002e;
    border-radius: 5%;
}

.form-control{
    color: black;
}

.mb-3{
    color: white;
    text-shadow: 2px 2px #000000;
}

h3{
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000000;
}

#registrar{
    /*border-color: #000000;*/
}